body {
    font-family: 'Poppins', sans-serif;
}

.logo-icon {
    width: 150px;
}

.header-bg {
    background-color: #F0FFF0;
}

.pd-5 {
    padding: 1em 5em 1em 5em;
}

.btn-head {
    /* padding: 12px 28px; */
    background-color: #21B573;
    border-radius: 33px;
    color: white;
    border: none;
}

.btn-other {
    padding: 8px 28px;
    background: #21B573;
    border-radius: 33px;
    border: none;
    color: white;
    margin-top: 15px;
}

.container {
    margin-bottom: 100px;
}

.token-img {
    height: 100px;
}

.token {
    background-color: #F8FFFB;
    text-align: center;
    border-radius: 5px;
    padding: 1em 2em;
}

/* .students-bg {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    padding: 1em 2em;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
} */

.token:hover {
    background-color: white;
    /* text-align: center;
    border-radius: 5px;
    padding: 1em 2em; */
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.icon {
    height: 30px;
    width: 30px;
}

p {
    margin-bottom: 0px;
}

.card {
    /* border: 0.5em solid rgb(245, 242, 242); */
    border-radius: 5px;
    border: none;
}

.center {
    text-align: center;
}

.lorem {
    padding-left: 1em;
}

.people-img {
    width: 120px;
    height: 120px;
    margin: 0em 3em 0em 15em;
    background: url(.jpg), #C4C4C4;
    border-radius: 100%;
}

.footer {
    background: #282531;
}

.cat1, .cat2, .cat3, .cat4, .copyright {
    color: white;
}

.copyright {
    padding-bottom: 1em;
}

.category {
    padding: 2em 3em 5em 2em;
}

/* #online-course {
    background-color: #E5E5E5;
} */

.card-footer {
    padding: .75rem 1.25rem;
    background-color: white;
    border-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item {
    color: black;
}

.mr-2 {
    margin-bottom: 2em;
}

.bg-green {
    color: #21B573;
    ;
}